.header-class {
    background-color:#F6F6F7 ;
    padding: 10px;
}

.product-content {
    padding-top:  40px;
    padding-left: 20%;
    padding-right: 20%;
    display: inline-flex;
}
.product-content a {
    text-decoration: none;
    
}

.product-description p {
    padding: 10px 0px;
}


.image-placing {
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
}

.whiteT-img {
    
}

/* size buttons */
.buttons-size a {
  display: block;
  text-decoration: none;
  margin: auto ;
  padding: 14px 28px;
  font-size: 16px;
  display: inline-block;
}

/*cart buttons */
.add-to-cart {
    border: 4px solid black;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.add-to-cart a {
    color:#222222
}

.add-to-cart a:hover{
    color: CCCCCC;
    background-color: #222222;
  }
  