

.header-class {
    background-color:#F6F6F7 ;
    padding: 20px;
}

.header-class a {
    color: #CCCCCC;
    text-decoration: none;
    float: right;
    text-align: center;
    padding-right: 5%;
}

.product-content {
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
    display: inline-flex;
}
.product-content a {
    text-decoration: none;
}

.product-description p {
    padding: 10px 0px;
    color: #CCCCCC;
}

.image-placing {
    width: fit-content;
    margin-left: 20px;
    margin-right: 20px;
}

.whiteT-img {
    
}
/* size title*/
.size-title h4{
    display: inline;
    color: #CCCCCC;
}
h4.required-star {
    color: #C90000;
}

/* size buttons */
.buttons-size a {
  display: block;
  text-decoration: none;
  margin: 3px ;
  margin-bottom: 30px;
  padding: 12px 18px;
  font-size: 16px;
  display: inline-block;
}
/* non click buttons */
.small-size {
    border: 2px solid #CCCCCC;
}

.medium-size {
    border: 2px solid #CCCCCC;
}

.large-size {
    border: 2px solid #CCCCCC;
}

/* clicked buttons */
.small-size-on {
    border: 3px solid black;
}

.medium-size-on {
    border: 3px solid black;
}

.large-size-on {
    border: 3px solid black;
}


/*cart buttons */
.add-to-cart a{
    color:#222222;
    border: 4px solid black;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.add-to-cart a:hover{
    color: #CCCCCC;
    background-color: #222222;
    border-color: #222222;
  }
  